section#projects {
    background-color: #000814;
    width: 100%;
    min-height: 100vh;
    display: block;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 120px 0;
    overflow: visible;
}

.projects-title {
    color: white;
    font-size: 2.5rem;
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 0.3rem;
    font-weight: 900;
}

.project-card {
    background-color: rgba(0, 123, 255, 0.1) !important;
    backdrop-filter: blur(10px);
    border-radius: 15px !important;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4) !important;
    border: 1px solid rgba(0, 123, 255, 0.2) !important;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    min-height: 150px;
    margin-bottom: 2rem;
    padding: 0;
}

.project-card:hover {
    transform: translateY(-5px);
    background-color: rgba(0, 38, 77, 0.15) !important;
    border-color: #007bff;
    box-shadow: 0 12px 20px rgba(0, 123, 255, 0.2);
}

.project-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.project-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.project-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: rgba(255, 255, 255, 0.9);
}

.project-content h3 {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
    color: #007bff !important;
    position: relative;
    padding-bottom: 0.6rem;
}

.project-content h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 2px;
    background-color: #007bff;
    transition: width 0.3s ease;
}

.project-card:hover .project-content h3::after {
    width: 100%;
}

.project-content p {
    font-size: 0.9rem;
    margin-bottom: 0.8rem;
    color: rgba(255, 255, 255, 0.9);
}

.technologies {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 0.8rem;
    margin-top: auto;
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.tech-tag {
    background: rgba(0, 123, 255, 0.1);
    color: #007bff;
    border: 1px solid rgba(0, 123, 255, 0.2);
    padding: 0.4rem 0.8rem;
    border-radius: 20px;
    font-size: 0.85rem;
    white-space: nowrap;
    flex: 0 0 auto;
}

.tech-tag:hover {
    background: rgba(246, 11, 11, 0.2);
}

.project-links {
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.project-links a {
    color: #f60b0b;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: 1px solid rgba(246, 11, 11, 0.3);
    font-size: 0.9rem;
}

.project-links a:hover {
    color: white;
    background: rgba(246, 11, 11, 0.1);
    border-color: #f60b0b;
}